@model Lekarna.Web.ViewModels.Offers.OfferCreateInputModel
@{
    this.ViewData["Title"] = "Create new offer";
    var suppliers = Model.Suppliers.Select(x => new SelectListItem(x.Name, x.Id));
    var categories = Model.Categories.Select(x => new SelectListItem(x.CategoryName, x.Id));
}
<h1>@this.ViewData["Title"]</h1>
<div class="col-md-4">
    <form method="post"  asp-area="Administration" asp-controller="Offers" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"> </div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Data">Import medicines</label>
            <input type="file" asp-for="Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SupplierId"></label>
            <select asp-for="SupplierId" asp-items="suppliers" class="form-control">
                <option value="" selected disabled hidden>Select supplier</option>
            </select>
            <span asp-validation-for="SupplierId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="categories" class="form-control">
                <option value="" selected disabled hidden>Select category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <hr />

        <input type="submit" class="btn btn-primary" />
    </form>
</div>
@section footer{

}
