@model Lekarna.Web.ViewModels.Categories.CategoryDetailsViewModel
@{
    this.ViewData["Title"] = "Edit category";
}
<h1>@this.ViewData["Title"]</h1>
<div class="col-md-4">
    <form method="post" asp-action="Create">
        <div asp-validation-summary="All" class="text-danger"> </div>

        <div class="form-group">
            <label asp-for="CategoryName"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <hr />

        <button asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id" type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>

@section footer{

}
