

<link rel="stylesheet" href="~/css/forbidden.css">


<section class="masthead" role="img" aria-label="Image Description">
    <h1>
        Forbidden !
    </h1>
    <p>You don't have access to this page.</p>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary"><i class="fa fa-home"></i> Go to Home</a>
</section>

