
    <link rel="stylesheet" href="~/css/notFound.css">
    

    <section class="masthead" role="img" aria-label="Image Description">
        <h1>
            Page not found
        </h1>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary"><i class="fa fa-home"></i> Go to Home</a>
        
    </section>
